body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h1 span{
    color: orange;
}
.font-padding{
    padding-top: 5%;
}
.imagine-font{
    padding-bottom: 5%;
    color: gray;
}
.display-area{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left:5%;
}
.half-width img{
width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(to right, orange,orangered );
    padding: 15px 23px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
}
.color-header{
    color: gray;
}
.aboutme-item{
    padding-bottom: 8%;
}
.about-text-padding{
    padding-top: 4%;  
}
#about-banner{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.center-text{
    text-align: center;
}
.recipie-width-item{
    box-shadow: 10px 10px 15px gray;
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 24px;
    padding-left: 1.5%;
}
.recipie-width-item img{
    width: 95%;
    margin-top: 5%;
    margin-right: 4%;
}
.social-media-area{
    display: flex;
    box-shadow: 10px 10px 15px gray;
    width: 93%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 24px;
    padding-left: 1.5%;
}
.footer{
    background-color: black;
    text-align: center;
}
footer h2{
    color: tomato;
    padding-top: 2%;
}
footer p{
    color: white;
    padding-bottom: 5%;
    font-size: small;
}